[Desktop Entry]
X-AppInstall-Package=ace-of-penguins
X-AppInstall-Popcon=592
X-AppInstall-Section=universe

Type=Application
Name=Penguin Golf
GenericName=
Comment=
Icon=penguin-pegged
Exec=/usr/games/ace-golf
Terminal=false
Categories=Game;CardGame;

X-Ubuntu-Gettext-Domain=app-install-data
