[Desktop Entry]
X-AppInstall-Package=ace-of-penguins
X-AppInstall-Popcon=592
X-AppInstall-Section=universe

Type=Application
Name=Penguin Taipei
GenericName=
Comment=
Icon=penguin-pegged
Exec=/usr/games/ace-taipei
Terminal=false
Categories=Game;BoardGame;

X-Ubuntu-Gettext-Domain=app-install-data
