[Desktop Entry]
X-AppInstall-Package=betaradio
X-AppInstall-Popcon=14
X-AppInstall-Section=universe

Categories=GTK;Application;AudioVideo;Audio;Player;
Exec=betaradio
Icon=betaradio
Type=Application
Terminal=false
Name=BetaRadio Tuner
Comment=An easy way to listen to internet radio of Taiwan.

X-Ubuntu-Gettext-Domain=app-install-data
