[Desktop Entry]
X-AppInstall-Package=cairo-clock
X-AppInstall-Popcon=515
X-AppInstall-Section=universe

Type=Application
Encoding=UTF-8
Name=MacSlow's Cairo-Clock
Comment=a super fine analog clock
Exec=cairo-clock
Icon=cairo-clock
Categories=Utility;Clock;


X-Ubuntu-Gettext-Domain=app-install-data
