[Desktop Entry]
X-AppInstall-Package=cantor
X-AppInstall-Popcon=250
X-AppInstall-Section=universe

Name=Cantor
Exec=cantor %i -caption "%c"
Icon=cantor
Type=Application
X-DocPath=cantor/index.html
GenericName=KDE Frontend to Mathematical Software
Terminal=false
Categories=Qt;KDE;Education;Math;
MimeType=application/x-cantor;

X-Ubuntu-Gettext-Domain=app-install-data
