[Desktop Entry]
X-AppInstall-Package=composite
X-AppInstall-Popcon=86
X-AppInstall-Section=universe

Type=Application
Name=Composite
GenericName=Composite
Comment=Live performance sequencer
Icon=composite32x32
TryExec=composite-gui
Exec=composite-gui %F
Terminal=false
Categories=AudioVideo;Audio;Qt;Music;

X-Ubuntu-Gettext-Domain=app-install-data
