[Desktop Entry]
X-AppInstall-Package=freeciv-client-extras
X-AppInstall-Popcon=3
X-AppInstall-Section=universe

Name=Freeciv modpack installer
Comment=Download and install add-ons for Freeciv
Exec=freeciv-modpack
Icon=freeciv-modpack
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;Game;StrategyGame;

X-Ubuntu-Gettext-Domain=app-install-data
