[Desktop Entry]
X-AppInstall-Package=gnome-terminal
X-AppInstall-Popcon=90701
X-AppInstall-Section=main

Name=Terminal
Comment=Use the command line
TryExec=gnome-terminal
Exec=gnome-terminal
Icon=utilities-terminal
Type=Application
X-GNOME-DocPath=gnome-terminal/index.html
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-terminal
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=3.4.1.1
Categories=GNOME;GTK;Utility;TerminalEmulator;
StartupNotify=true
OnlyShowIn=GNOME;Unity;
Keywords=Run;
Actions=New


[Desktop Action New]
Name=New Terminal
Exec=gnome-terminal
OnlyShowIn=Unity

X-Ubuntu-Gettext-Domain=app-install-data
