[Desktop Entry]
X-AppInstall-Package=gogglesmm
X-AppInstall-Popcon=14
X-AppInstall-Section=universe

Name=Goggles Music Manager
GenericName=Music Player
Comment=Play and organize your music collection
Exec=gogglesmm %u
Terminal=false
Hidden=false
Type=Application
Icon=gogglesmm
Categories=Application;AudioVideo;Audio;Player;
MimeType=audio/flac;audio/ogg;audio/x-vorbis;audio/x-vorbis+ogg;audio/mpeg;audio/mp4a-latm;audio/x-musepack;


X-Ubuntu-Gettext-Domain=app-install-data
