[Desktop Entry]
X-AppInstall-Package=hamster-indicator
X-AppInstall-Popcon=81
X-AppInstall-Section=universe

Name=Hamster Indicator
GenericName=Time Tracker
Comment=Project Hamster - track your time
Type=Application
Terminal=false
Icon=hamster-indicator
Exec=hamster-indicator
Categories=GNOME;GTK;Utility;
X-GNOME-Autostart-enabled=true

X-Ubuntu-Gettext-Domain=app-install-data
