[Desktop Entry]
X-AppInstall-Package=kde-runtime-data
X-AppInstall-Popcon=2521
X-AppInstall-Section=main

Name=Nepomuk Backup
Exec=nepomukbackup
Icon=nepomuk
Type=Application
Categories=Qt;KDE;System;Archiving;

X-Ubuntu-Gettext-Domain=app-install-data
