[Desktop Entry]
X-AppInstall-Package=kdegraphics-mobipocket
X-AppInstall-Popcon=2667
X-AppInstall-Section=main

MimeType=application/x-mobipocket-ebook;
Terminal=false
Name=Okular
GenericName=Document Viewer
TryExec=okular
Exec=okular %U %i -caption "%c"
Icon=okular
Type=Application
InitialPreference=1
Categories=Qt;KDE;Graphics;Viewer;
NoDisplay=true
X-KDE-Keywords=mobipocket
X-KDE-Keywords[ar]=mobipocket
X-KDE-Keywords[ca]=mobipocket
X-KDE-Keywords[ca@valencia]=mobipocket
X-KDE-Keywords[cs]=mobipocket
X-KDE-Keywords[da]=mobipocket
X-KDE-Keywords[de]=Mobipocket
X-KDE-Keywords[el]=mobipocket
X-KDE-Keywords[es]=mobipocket
X-KDE-Keywords[et]=mobipocket
X-KDE-Keywords[fi]=mobipocket
X-KDE-Keywords[ga]=mobipocket
X-KDE-Keywords[hu]=mobipocket
X-KDE-Keywords[it]=mobipocket
X-KDE-Keywords[kk]=mobipocket
X-KDE-Keywords[ko]=mobipocket
X-KDE-Keywords[nb]=mobipocket
X-KDE-Keywords[nds]=Mobipocket
X-KDE-Keywords[nl]=mobipocket
X-KDE-Keywords[pl]=mobipocket
X-KDE-Keywords[pt]=Mobipocket
X-KDE-Keywords[pt_BR]=mobipocket
X-KDE-Keywords[ru]=mobipocket,электронная книга
X-KDE-Keywords[sk]=mobipocket
X-KDE-Keywords[sr]=mobipocket,Мобипокет
X-KDE-Keywords[sr@ijekavian]=mobipocket,Мобипокет
X-KDE-Keywords[sr@ijekavianlatin]=mobipocket,Mobipocket
X-KDE-Keywords[sr@latin]=mobipocket,Mobipocket
X-KDE-Keywords[sv]=mobipocket
X-KDE-Keywords[uk]=mobipocket,мобіпокет
X-KDE-Keywords[x-test]=xxmobipocketxx
X-KDE-Keywords[zh_CN]=mobipocket
X-KDE-Keywords[zh_TW]=mobipocket

X-Ubuntu-Gettext-Domain=app-install-data
