[Desktop Entry]
X-AppInstall-Package=libreoffice-draw
X-AppInstall-Popcon=88491
X-AppInstall-Section=main

Version=1.0
Terminal=false
Icon=libreoffice-draw
Type=Application
Categories=Office;Graphics;
Exec=libreoffice --draw %U
MimeType=application/vnd.oasis.opendocument.graphics;application/vnd.oasis.opendocument.graphics-flat-xml;application/vnd.oasis.opendocument.graphics-template;application/vnd.sun.xml.draw;application/vnd.sun.xml.draw.template;
Name=LibreOffice Draw
GenericName=Drawing Program
Comment=Create and edit drawings, flow charts, and logos by using Draw.
InitialPreference=5
X-Ayatana-Desktop-Shortcuts=New
[New Shortcut Group]
Name=New Drawing
Exec=libreoffice --draw %U
TargetEnvironment=Unity

X-Ubuntu-Gettext-Domain=app-install-data
