[Desktop Entry]
X-AppInstall-Package=lightsoff
X-AppInstall-Popcon=672
X-AppInstall-Section=universe

Name=Lights Off
Comment=Turn off all the lights
Icon=lightsoff
Exec=/usr/games/lightsoff
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;LogicGame;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-games
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=3.4.0
StartupNotify=true


X-Ubuntu-Gettext-Domain=app-install-data
