[Desktop Entry]
X-AppInstall-Package=muon
X-AppInstall-Popcon=2454
X-AppInstall-Section=main

Name=Muon Package Manager
Exec=muon %i -caption "%c"
Icon=muon
Type=Application
X-DocPath=muon/index.html
GenericName=Package Manager
Categories=Qt;KDE;System;
X-KDE-Keywords=program,software,repository,archive,package,install,remove,update,deb
X-KDE-Keywords[ca]=programa,programari,repositori,arxiu,paquet,instal·lació,supressió,actualització,deb
X-KDE-Keywords[ca@valencia]=programa,programari,repositori,arxiu,paquet,instal·lació,supressió,actualització,deb
X-KDE-Keywords[cs]=program,software,úložiště,archiv,balíček,instalovat,odstranit,aktualizovat,deb
X-KDE-Keywords[da]=program,software,repository,softwarekilde,arkiv,pakke,installere,fjerne,opdatere,deb
X-KDE-Keywords[el]=πρόγραμμα,λογισμικό,αποθετήριο,αρχειοθήκη,πακέτο,εγκατάσταση,αφαίρεση,ενημέρωση,deb
X-KDE-Keywords[es]=programa,software,repositorio,archivo,paquete,instalar,eliminar,actualizar,deb
X-KDE-Keywords[et]=programm,rakendus,tarkvara,hoidla,arhiiv,pakk,pakett,paigaldamine,installimine,eemaldamine,uuendamine,deb
X-KDE-Keywords[ga]=clár,ríomhchlár,feidhmchlár,bogearra,bogearraí,stórlann,cartlann,pacáiste,suiteáil,bain,nuashonrú,deb
X-KDE-Keywords[hu]=program,szoftver,tároló,archívum,csomag,telepítés,eltávolítás,frissítés,deb
X-KDE-Keywords[it]=programma,software,deposito,archivio,pacchetto,installa,rimuovi,aggiorna,deb
X-KDE-Keywords[lt]=programos,programinė įranga,saugykla,archyvas,paketas,įdiegti,pašalinti,atnaujinti,deb
X-KDE-Keywords[nb]=program,programvare,pakkebrønn,arkiv,pakke,installere,fjerne,oppdatere,deb
X-KDE-Keywords[nl]=programma,software,opslagruimte,archief,pakket,installeren,verwijderen,bijwerken,deb
X-KDE-Keywords[pl]=program,oprogramowanie,repozytorium,archiwum,pakiet,paczka,instaluj,zainstaluj,usuń,odinstaluj,uaktualnij,aktualizuj,deb
X-KDE-Keywords[pt]=programa,software,repositório,arquivo,pacote,instalar,remover,actualizar,deb
X-KDE-Keywords[pt_BR]=programa,software,repositório,arquivo,pacote,instalar,remover,atualizar,deb
X-KDE-Keywords[ru]=программа,приложение,репозиторий,архив,пакет,установка,удаление,deb
X-KDE-Keywords[sk]=program,softvér,repozitár,archív,balík,inštalácia,odstránenie,aktualizácia,deb
X-KDE-Keywords[sr]=program,software,repository,archive,package,install,remove,update,deb,програм,софтвер,ризница,архива,пакет,инсталирати,уклонити,ажурирати,ДЕБ
X-KDE-Keywords[sr@ijekavian]=program,software,repository,archive,package,install,remove,update,deb,програм,софтвер,ризница,архива,пакет,инсталирати,уклонити,ажурирати,ДЕБ
X-KDE-Keywords[sr@ijekavianlatin]=program,software,repository,archive,package,install,remove,update,deb,program,softver,riznica,arhiva,paket,instalirati,ukloniti,ažurirati,DEB
X-KDE-Keywords[sr@latin]=program,software,repository,archive,package,install,remove,update,deb,program,softver,riznica,arhiva,paket,instalirati,ukloniti,ažurirati,DEB
X-KDE-Keywords[sv]=program,programvara,arkiv,paket,installera,ta bort,uppdatera,deb
X-KDE-Keywords[uk]=program,software,repository,archive,package,install,remove,update,deb,програма,програмне забезпечення,сховище,архів,пакунок,встановити,встановлення,вилучити,вилучення,оновлення,оновити
X-KDE-Keywords[x-test]=xxprogram,software,repository,archive,package,install,remove,update,debxx
X-KDE-Keywords[zh_TW]=program,software,repository,archive,package,install,remove,update,deb

X-Ubuntu-Gettext-Domain=app-install-data
