
[Desktop Entry]
X-AppInstall-Package=nautilus-compare
X-AppInstall-Popcon=25
X-AppInstall-Section=universe

Name=Nautilus Compare Extension Preferences
Type=Application
GenericName=Preferences for Nautilus Compare Extension
Icon=gtk-preferences
Categories=Settings;

Exec=nautilus-compare-preferences

X-Ubuntu-Gettext-Domain=app-install-data
