[Desktop Entry]
X-AppInstall-Package=pcalendar
X-AppInstall-Popcon=9
X-AppInstall-Section=universe

Version=1.0
Encoding=UTF-8
Type=Application
Name=Periodic Calendar
GenericName=Periodic Calendar
Comment=Utility for tracking menstrual cycles and predicting fertility periods
Icon=pcalendar
Exec=pcalendar
Terminal=false
StartupNotify=false
Categories=Application;Utility;Calendar;Java;
MimeType=application/x-periodic-calendar;application/x-periodic-calendar-encrypted;
X-Ubuntu-Gettext-Domain=app-install-data
