[Desktop Entry]
X-AppInstall-Package=pdf-presenter-console
X-AppInstall-Popcon=65
X-AppInstall-Section=universe

Name=PDF Presenter Console
Comment=Presentation program for PDF files
Type=Application
Exec=pdf-presenter-console %f
MimeType=application/pdf;
Categories=Graphics;Viewer;

X-Ubuntu-Gettext-Domain=app-install-data
