[Desktop Entry]
X-AppInstall-Package=pinta
X-AppInstall-Popcon=1298
X-AppInstall-Section=universe

Name=Pinta
Comment=Easily create and edit images
GenericName=Image Editor
X-GNOME-FullName=Pinta Image Editor
X-GNOME-FullName[bg]=Pinta Image Editor
X-GNOME-FullName[br]=Embanner skeudennoù Pinta
X-GNOME-FullName[bs]=Pinta uređivač slika
X-GNOME-FullName[cs]=Grafický editor Pinta
X-GNOME-FullName[da]=Pinta billedredigeringsprogram
X-GNOME-FullName[de]=Pinta Bildbearbeitung
X-GNOME-FullName[en_GB]=Pinta Image Editor
X-GNOME-FullName[eo]=Pinta Bildredaktilo
X-GNOME-FullName[es]=Editor de imágenes Pinta
X-GNOME-FullName[eu]=Pinta irudi-editorea
X-GNOME-FullName[fi]=Pinta-kuvankäsittely
X-GNOME-FullName[fr]=Éditeur d'image Pinta
X-GNOME-FullName[gl]=Editor de imaxes Pinta
X-GNOME-FullName[he]=עורך תמונות Pinta
X-GNOME-FullName[hr]=Pinta uređivač slika
X-GNOME-FullName[hu]=Pinta képszerkesztő
X-GNOME-FullName[id]=Penyunting Gambar Pinta
X-GNOME-FullName[it]=Editor di immagini Pinta
X-GNOME-FullName[lv]=Pinta attēlu redaktors
X-GNOME-FullName[ms]=Penyunting Imej Pinta
X-GNOME-FullName[nb]=Pinta Bildebehandler
X-GNOME-FullName[nl]=Pinta Image Editor
X-GNOME-FullName[pl]=Edytor Obrazów Pinta
X-GNOME-FullName[pt]=Editor de Imagens Pinta
X-GNOME-FullName[pt_BR]=Editor de imagem Pinta
X-GNOME-FullName[ro]=Editor Imagini Pinta
X-GNOME-FullName[ru]=Графический редактор Pinta
X-GNOME-FullName[sk]=Pinta editor obrázkov
X-GNOME-FullName[sl]=Urejevalnik fotografij Pinta
X-GNOME-FullName[sr]=Pinta, obrađivač slika
X-GNOME-FullName[sv]=Bildredigeraren Pinta
X-GNOME-FullName[uk]=Редактор зображень Pinta
X-GNOME-FullName[zh_TW]=Pinta 圖片編輯器
Exec=pinta
Icon=pinta
StartupNotify=false
Terminal=false
Type=Application
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/svg+xml;image/tiff;image/x-bmp;image/x-gray;image/x-icb;image/x-ico;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-pcx;image/x-targa;image/x-tga;image/openraster;

X-Ubuntu-Gettext-Domain=app-install-data
