[Desktop Entry]
X-AppInstall-Package=qasconfig
X-AppInstall-Popcon=2
X-AppInstall-Section=universe

Type=Application
Name=QasConfig
GenericName=ALSA configuration
Exec=qasconfig
Icon=qasconfig
StartupNotify=false
Terminal=false
Categories=AudioVideo;Audio
Comment=ALSA configuration browser

X-Ubuntu-Gettext-Domain=app-install-data
