[Desktop Entry]
X-AppInstall-Package=quake
X-AppInstall-Popcon=2
X-AppInstall-Section=multiverse

Type=Application
Version=1.0
Name=Quake: Scourge of Armagon
Comment=Mission Pack 1 for the classic first person shooter
Icon=quake
TryExec=/usr/share/games/quake/hipnotic-tryexec.sh
Exec=/usr/games/quake -hipnotic
Categories=Game;ActionGame;

X-Ubuntu-Gettext-Domain=app-install-data
