[Desktop Entry]
X-AppInstall-Package=quake3
X-AppInstall-Popcon=6
X-AppInstall-Section=multiverse

Version=1.0
Name=Quake III Arena
Exec=/usr/games/quake3
Icon=quake3
Comment=Play the original Quake III Arena
Terminal=false
Type=Application
Categories=Game;ArcadeGame;

X-Ubuntu-Gettext-Domain=app-install-data
