[Desktop Entry]
X-AppInstall-Package=qxw
X-AppInstall-Popcon=1
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=Qxw
GenericName=Crossword editor
Comment=Construct crossword puzzles
Exec=/usr/games/qxw
Terminal=false
Categories=Game;LogicGame;

X-Ubuntu-Gettext-Domain=app-install-data
