[Desktop Entry]
X-AppInstall-Package=rapidsvn
X-AppInstall-Popcon=654
X-AppInstall-Section=universe

Version=1.0
Name=RapidSVN
GenericName=Subversion Client
Comment=A GUI Client for Subversion
Type=Application
Exec=rapidsvn
Icon=rapidsvn
Categories=Development;

X-Ubuntu-Gettext-Domain=app-install-data
