[Desktop Entry]
X-AppInstall-Package=starvoyager
X-AppInstall-Popcon=10
X-AppInstall-Section=universe

Type=Application
Encoding=UTF-8
Name=Star Voyager
GenericName=
Comment=
Icon=_usr_share_pixmaps_starvoyager
Exec=/usr/games/starvoyager
Terminal=false
Categories=Application;Game;ArcadeGame;

X-Ubuntu-Gettext-Domain=app-install-data
