[Desktop Entry]
X-AppInstall-Package=supercollider-emacs
X-AppInstall-Popcon=1
X-AppInstall-Section=universe

Version=1.0
Name=SuperCollider Emacs (scel)
Comment=Emacs environment for SuperCollider
Exec=emacs -sclang
Terminal=false
Type=Application
Icon=supercollider
#cats as in menu-spec-1.0:
Categories=Audio;AudioVideo;Music;

X-Ubuntu-Gettext-Domain=app-install-data
