[Desktop Entry]
X-AppInstall-Package=tortoisehg
X-AppInstall-Popcon=472
X-AppInstall-Section=universe

Type=Application
Name=TortoiseHG Workbench
Icon=tortoisehg
Exec=thg log
Categories=Development;RevisionControl

X-Ubuntu-Gettext-Domain=app-install-data
