[Desktop Entry]
X-AppInstall-Package=vidalia
X-AppInstall-Popcon=762
X-AppInstall-Section=universe

Type=Application
Exec=vidalia
Name=Vidalia
Icon=vidalia
GenericName=Tor GUI
Terminal=false
Categories=Qt;Network;

X-Ubuntu-Gettext-Domain=app-install-data
