[Desktop Entry]
X-AppInstall-Package=vim-gnome
X-AppInstall-Popcon=6266
X-AppInstall-Section=main

Name=GVim
GenericName=Text Editor
Comment=Edit text files
TryExec=gvim
Exec=gvim -f %F
Terminal=false
Type=Application
Icon=vim
Categories=Utility;TextEditor;
StartupNotify=true
MimeType=text/plain;

X-Ubuntu-Gettext-Domain=app-install-data
