[Desktop Entry]
X-AppInstall-Package=wireshark
X-AppInstall-Popcon=3302
X-AppInstall-Section=universe

# $Id: wireshark.desktop 39689 2011-10-31 16:53:23Z gerald $
# The format of this file is specified at
# http://freedesktop.org/Standards/desktop-entry-spec
# The entries are in the order they are listed in version 1.0
Type=Application
Version=1.0
Name=Wireshark
GenericName=Network Analyzer
Comment=Network traffic analyzer
Icon=wireshark
TryExec=wireshark
Exec=wireshark %f
Terminal=false
MimeType=application/vnd.tcpdump.pcap;
# Categorie entry according to version 1.0 of
# http://www.freedesktop.org/wiki/Specifications/menu-spec
Categories=GNOME;Network;
Encoding=UTF-8

X-Ubuntu-Gettext-Domain=app-install-data
