[Desktop Entry]
X-AppInstall-Package=yabause-gtk
X-AppInstall-Popcon=32
X-AppInstall-Section=universe

Type=Application
Name=Yabause (Gtk port)
Comment=Sega Saturn emulator
TryExec=yabause
Exec=yabause-gtk
Icon=yabause
Categories=GNOME;GTK;Game;

X-Ubuntu-Gettext-Domain=app-install-data
