[Desktop Entry]
Name=Broadcast Accounts
GenericName=Broadcast Accounts
X-GNOME-FullName=Broadcast Accounts
X-GNOME-FullName[af]=Uitsaai-rekeninge
X-GNOME-FullName[an]=Cuentas de difusión
X-GNOME-FullName[ar]=حسابات البث
X-GNOME-FullName[ast]=Cuentes de difusión
X-GNOME-FullName[bg]=Регистрации в социални мрежи
X-GNOME-FullName[bn]=সম্প্রচার অ্যাকাউন্টসমূহ
X-GNOME-FullName[bs]=Računi emitovanja
X-GNOME-FullName[ca]=Comptes de difusió
X-GNOME-FullName[ca@valencia]=Comptes de difusió
X-GNOME-FullName[cs]=Účty společenských sítí
X-GNOME-FullName[da]=Webkonti
X-GNOME-FullName[de]=Nachrichtenkonten
X-GNOME-FullName[el]=Λογαριασμοί κοινωνικών δικτύων
X-GNOME-FullName[en_AU]=Broadcast Accounts
X-GNOME-FullName[en_CA]=Broadcast Accounts
X-GNOME-FullName[en_GB]=Broadcast Accounts
X-GNOME-FullName[eo]=Elsendaj kontoj
X-GNOME-FullName[es]=Cuentas de difusión
X-GNOME-FullName[et]=Kuulutuskontod
X-GNOME-FullName[eu]=Difusio-kontuak
X-GNOME-FullName[fa]=حساب‌های کاربری
X-GNOME-FullName[fi]=Sosiaalisten verkkojen tilit
X-GNOME-FullName[fr]=Compte de réseaux sociaux
X-GNOME-FullName[fy]=Publikaasje Akkounts
X-GNOME-FullName[gl]=Contas de difusión...
X-GNOME-FullName[he]=חשבונות הפצה
X-GNOME-FullName[hi]=प्रसारण खातों
X-GNOME-FullName[hr]=Računi objave
X-GNOME-FullName[hu]=Közösségi fiókok
X-GNOME-FullName[ia]=Contos de diffusion
X-GNOME-FullName[id]=Akun Siaran
X-GNOME-FullName[io]=Brodkast-konti
X-GNOME-FullName[it]=Account social network
X-GNOME-FullName[ja]=ブロードキャスト アカウント
X-GNOME-FullName[ka]=სამაუწყებლო ანგარიშები
X-GNOME-FullName[kn]=ಪ್ರಸರಣ ಖಾತೆಗಳು
X-GNOME-FullName[ko]=계정
X-GNOME-FullName[lb]=Noriichtekonten
X-GNOME-FullName[lt]=Transliacijų paskyros
X-GNOME-FullName[lv]=Apraides konti
X-GNOME-FullName[ms]=Akaun Siaran
X-GNOME-FullName[nb]=Kringkastingskontoer
X-GNOME-FullName[nl]=Microblog-accounts
X-GNOME-FullName[oc]=Comptes de rets socialas
X-GNOME-FullName[pa]=ਬਰਾਡਕਾਸਟ ਅਕਾਊਂਟ
X-GNOME-FullName[pl]=Konta nadawcze
X-GNOME-FullName[pt_BR]=Contas de Publicação
X-GNOME-FullName[ro]=Conturi de difuzare
X-GNOME-FullName[ru]=Учётные записи микроблогов
X-GNOME-FullName[sk]=Účty sociálnych sietí
X-GNOME-FullName[sl]=Računi za izmenjavo sporočil
X-GNOME-FullName[sq]=Llogaritë e Transmetimit
X-GNOME-FullName[sr]=Налози емитовања
X-GNOME-FullName[sv]=Utsändningskonton
X-GNOME-FullName[ta]=பறைசாற்று கணக்குகள்
X-GNOME-FullName[te]=ప్రసార ఖాతాలు
X-GNOME-FullName[th]=บัญชีการกระจายข่าว
X-GNOME-FullName[tr]=Yayın Hesapları
X-GNOME-FullName[ug]=تارقىتىش ھېساباتلىرى
X-GNOME-FullName[uk]=Облікові записи у мікроблогах
X-GNOME-FullName[uz]=Микроблог ҳисоблари
X-GNOME-FullName[vi]=Tài khoản phát tin
X-GNOME-FullName[zh_CN]=广播账户
X-GNOME-FullName[zh_HK]=廣播帳號
X-GNOME-FullName[zh_TW]=廣播帳號
Type=Application
Comment=Add, edit, and delete your broadcast accounts
Exec=gwibber-accounts
Icon=gwibber
Categories=GNOME;GTK;Settings;X-GNOME-PersonalSettings;
X-GNOME-Gettext-Domain=gwibber
X-Ayatana-Appmenu-Show-Stubs=False
