[Desktop Entry]
Name=Broadcast Preferences
GenericName=Broadcast Preferences
X-GNOME-FullName=Broadcast Preferences
X-GNOME-FullName[af]=Uitsaai voorkeure
X-GNOME-FullName[an]=Preferencias de retes socials
X-GNOME-FullName[ar]=تفضيلات البث
X-GNOME-FullName[ast]=Preferencies de difusión
X-GNOME-FullName[bg]=Настройки на социална мрежа
X-GNOME-FullName[bn]=সম্প্রচার-সম্পর্কিত পছন্দসমূহ
X-GNOME-FullName[bs]=Postavke emitovanja u društvenim mrežama
X-GNOME-FullName[ca]=Preferències de la difusió
X-GNOME-FullName[ca@valencia]=Preferències de la difusió
X-GNOME-FullName[cs]=Nastavení společenských sítí
X-GNOME-FullName[da]=Indstillinger for webkonti
X-GNOME-FullName[de]=Nachrichteneinstellungen
X-GNOME-FullName[el]=Προτιμήσεις κοινωνικής δικτύωσης
X-GNOME-FullName[en_AU]=Broadcast Preferences
X-GNOME-FullName[en_CA]=Broadcast Preferences
X-GNOME-FullName[en_GB]=Broadcast Preferences
X-GNOME-FullName[eo]=Elsendaj agordoj
X-GNOME-FullName[es]=Preferencias de difusión
X-GNOME-FullName[et]=Kuulutamise eelistused
X-GNOME-FullName[eu]=Difusio-hobespenak
X-GNOME-FullName[fa]=تنظیمات حساب‌ها
X-GNOME-FullName[fi]=Sosiaalisten verkkojen asetukset
X-GNOME-FullName[fr]=Configuration du microblogage
X-GNOME-FullName[fy]=Mikroblogfoarkarren
X-GNOME-FullName[gl]=Preferencias de difusión
X-GNOME-FullName[he]=העדפות ההפצה
X-GNOME-FullName[hi]=प्रसारण प्राथमिकताएं
X-GNOME-FullName[hr]=Osobitosti objave
X-GNOME-FullName[hu]=Közösségi beállítások
X-GNOME-FullName[ia]=Preferentias de diffusion
X-GNOME-FullName[id]=Preferensi Siaran
X-GNOME-FullName[io]=Brodkastala Preferaji
X-GNOME-FullName[it]=Preferenze social network
X-GNOME-FullName[ja]=ブロードキャスト設定
X-GNOME-FullName[ka]=მაუწყებლობის გამართვა
X-GNOME-FullName[kn]=ಪ್ರಸರಣ ಆದ್ಯತೆಗಳು
X-GNOME-FullName[ko]=기본 설정
X-GNOME-FullName[lb]=Noriichtenastellungen
X-GNOME-FullName[lt]=Transliacijų nustatymai
X-GNOME-FullName[lv]=Apraides iestatījumi
X-GNOME-FullName[mg]=Safidy miely
X-GNOME-FullName[ms]=Keutamaan Siaran
X-GNOME-FullName[nb]=Innstillinger for kringkasting
X-GNOME-FullName[nl]=Microblog-voorkeuren
X-GNOME-FullName[oc]=Configuracion de las rets socialas
X-GNOME-FullName[pa]=ਬਰਾਡਕਾਸਟ ਪਸੰਦ
X-GNOME-FullName[pl]=Preferencje nadawania
X-GNOME-FullName[pt_BR]=Preferências de Publicação
X-GNOME-FullName[ro]=Preferințe de microblogging
X-GNOME-FullName[ru]=Настройка микроблогов
X-GNOME-FullName[sk]=Nastavenia sociálnych sietí
X-GNOME-FullName[sl]=Nastavitve izmenjave sporočil
X-GNOME-FullName[sq]=Preferencat e Transmetimit
X-GNOME-FullName[sr]=Поставке емитовања
X-GNOME-FullName[sv]=Utsändningsinställningar
X-GNOME-FullName[ta]=பறைசாற்று விருப்பங்கள்
X-GNOME-FullName[te]=ప్రసార ప్రాధాన్యతలు
X-GNOME-FullName[th]=คุณสมบัติการกระจายข่าว
X-GNOME-FullName[tr]=Yayın Tercihleri
X-GNOME-FullName[ug]=تارقىتىش مايىللىقى
X-GNOME-FullName[uk]=Налаштування мікроблогів
X-GNOME-FullName[uz]=Микроблог мосламалари
X-GNOME-FullName[vi]=Tùy chỉnh Phát tin
X-GNOME-FullName[zh_CN]=广播首选项
X-GNOME-FullName[zh_HK]=廣播偏好設定
X-GNOME-FullName[zh_TW]=廣播偏好設定
Type=Application
Comment=Change your broadcast preferences
Exec=gwibber-preferences
Icon=gwibber
Categories=GNOME;GTK;Settings;X-GNOME-PersonalSettings;
X-GNOME-Gettext-Domain=gwibber
X-Ayatana-Appmenu-Show-Stubs=False
